@tailwind base;
@tailwind components;
@tailwind utilities;

/* ca-slalom-bold */
@font-face {
    font-display: swap;
    font-family: 'CA Slalom';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/ca-slalom/CASlalom-Bold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../assets/fonts/ca-slalom/CASlalom-Bold.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
; /* Legacy iOS */
}

/* ca-slalom-havy */
@font-face {
    font-display: swap;
    font-family: 'CA Slalom';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/ca-slalom/CASlalom-Heavy.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../assets/fonts/ca-slalom/CASlalom-Heavy.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* open-sans-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/open-sans/open-sans-v35-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../assets/fonts/open-sans/open-sans-v35-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
; /* Legacy iOS */
}

/* open-sans-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/open-sans/open-sans-v35-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../assets/fonts/open-sans/open-sans-v35-cyrillic_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    height: 100%;
    scroll-behavior: smooth !important;
    background-color: #F5F5F5;
}

.footer {
    flex-shrink: 0;
}

.btn-general {
    @apply block px-2 md:px-5 py-2.5 bg-lime-green rounded text-white font-bold whitespace-nowrap;
    box-shadow: 0px 86px 35px rgba(32, 37, 42, 0.01), 0px 49px 29px rgba(32, 37, 42, 0.05), 0px 22px 22px rgba(32, 37, 42, 0.09), 0px 5px 12px rgba(32, 37, 42, 0.1), 0px 0px 0px rgba(32, 37, 42, 0.1);
}

.icon-shadow {
    box-shadow: 0px 86px 35px rgba(32, 37, 42, 0.01), 0px 49px 29px rgba(32, 37, 42, 0.05), 0px 22px 22px rgba(32, 37, 42, 0.09), 0px 5px 12px rgba(32, 37, 42, 0.1), 0px 0px 0px rgba(32, 37, 42, 0.1);
}

.btn-transparent {
    @apply text-sm text-white leading-[21px] font-bold border px-5 py-2.5;
}

.bg-board {
    background: linear-gradient(90deg, #4148FF 0.52%, #00CC9E 100%);
}

.button-line {
    @apply block w-[16px] h-[2px] bg-black transition-[transform,opacity] duration-300;
}

.main-menu {
    z-index: 100;
}



.table-wrapper {
    @apply flex flex-col mt-4 min-w-[732px] overflow-x-scroll;
    box-shadow: 0 0 20px theme(colors.black/0.2);
}

.table-row-wrapper {
    @apply grid grid-cols-10 gap-4 relative pt-10 border-t border-r border-gray-500 hover:bg-gray-200;
}

.table-btns-wrap {
    @apply absolute right-0 flex !p-0 border-b bg-black gap-[1px];
}

.btn-table {
    @apply bg-lime-green text-sm font-bold border border-transparent hover:border-black w-[26px] h-[30px];
}

.table-row-wrapper > div {
    @apply text-xs px-1 border-l border-t border-gray-500 break-all;
}

.table-row-header {
    @apply grid grid-cols-10 gap-4 border-t border-r border-gray-500;
}

.table-row-header > div {
    @apply text-xs px-1 font-bold border-l border-gray-500;
}

.contacts-row-wrapper {
    @apply grid grid-cols-6 gap-4 relative pt-10 border-t border-r border-gray-500 hover:bg-gray-200;
}

.contacts-row-wrapper > div {
    @apply text-xs px-1 border-l border-t border-gray-500 break-all;
}

.contacts-row-header {
    @apply grid grid-cols-6 gap-4 border-t border-r border-b border-gray-500;
}

.contacts-row-header > div {
    @apply text-xs px-1 font-bold border-l border-gray-500;
}

.input-field {
    @apply w-full max-w-[690px] relative z-10;
}

.input {
    @apply rounded-[10px] border border-current focus-within:border-lime focus-within:outline-none
    w-full h-[60px] md:h-[70px] px-[14px] pt-[26px] pb-[8px]
    text-base font-caslalom font-[700] text-black placeholder:text-base placeholder:text-gunmetal-gray placeholder:font-caslalom placeholder:font-[700]
    placeholder:absolute placeholder:top-[24px]
    focus-within:placeholder:scale-0 placeholder:origin-left    placeholder:transition-transform;
}

.input.invalid {
    @apply border-red-600;
}

.input.invalid + label {
    @apply text-red-600;
}

.input-label {
    @apply text-lime text-xs font-caslalom font-[700] absolute left-[14px] top-[10px] origin-top scale-0 opacity-0 transition-[transform,opacity];
}

.input:focus + .input-label {
    @apply scale-100 opacity-100;
}

.input:not(:placeholder-shown) + .input-label {
    @apply scale-100;
}

.input-label.active {
    @apply scale-100 opacity-100;
}
